.header{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:2em;
    background-color: lightgreen;
    color:#bf0719;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    background: url(../assets/img/palms.jpg) repeat no-repeat;
    background-size: cover;
    .title{
        font-size: 3em;
        text-shadow: 2px 2px #fff;
        letter-spacing: 0.15em;
    }
}
.main{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    .col1{
        width:70%;
    }
    .col2{
        width:30%;
    }
}